---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}
<div class="page">
    <aside class="page-sidebar">
        {{> components/epic/sidebar}}
    </aside>

    <main class="page-content">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

        {{#each product.shipping_messages}}
            {{> components/common/alert/alert-info message}}
        {{/each}}

        {{> components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}

        {{> components/products/schema}}

        {{{region name="product_footer"}}}
    </main>

    <div class="sidebar-region">
        {{{region name="epic_sidebar"}}}
        {{{region name="epic_sidebar--global"}}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
