// =============================================================================
// WRITE A REVIEW (CSS)
// =============================================================================

.writeReview-productDetails {
    @include breakpoint("medium") {
        @include grid-column(6);
    }

    .product-brand {
        color: color("greys", "light");
        font-size: remCalc(13);
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }

    .product-title {
        font-size: remCalc(15);
        font-weight: 700;
        letter-spacing: remCalc(0.25px);
        margin: 0 0 0.78571rem;
        text-transform: uppercase;
    }
}


.writeReview-form {

    @include breakpoint("medium") {
        @include grid-column(6);
    }
}

.writeReview-productImage-container {

    @include lazy-loaded-padding("product_size");
    position: relative;

    img {
        @include lazy-loaded-img;
        /* Object-fit polyfill */
        font-family: "object-fit: contain;";
        height: 100%;
        object-fit: contain;
    }
}
