// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
// 5. When logo size is set to "original", we don't have advance knowledge of the
//    image size, so we can't use absolute positioning + padding to reserve space
//    for lazy loading.
// 6. When logo size is set to "original" and switch to mobile version, it keeps
//    content in center regardless its size.
//
// -----------------------------------------------------------------------------

.skip-to-main-link {
    background: $header-bg;
    color: $color-textBase;
    font-weight: 700;
    left: 50%;
    padding: 4px;
    position: absolute;
    transform: translate(-50%, calc(-100% - #{$header-height}));
    transition: transform 0.3s;
    z-index: zIndex("highest");

    &:focus {
        transform: translate(-50%, 0%);
    }
}

.header {
    background-color: $header-bg;
    border-bottom: container("border");
    height: $header-height;
    padding: 0 0 remCalc(10);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: zIndex("higher");

    @include breakpoint("medium") {
        height: auto;
        overflow: visible;
        padding: 1rem 0 0;
        position: relative;
    }

    &.is-open {
        height: 100%;

        @include breakpoint("medium") {
            height: auto;
        }
    }

    // epic
    &-sticky {
      position: sticky;
    }

    > .container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint("medium") {
          margin-top: 1rem;
        }
    }

    &--epic-sitewide {
      @include breakpoint("medium") {
        padding-top: 0;
      }
    }
}

.header-logo {
    font-size: 0;   // 1
    height: $header-height;
    margin: 0 remCalc($header-toggle-width); // 2
    text-align: center;

    @include breakpoint("small") { // 4
        margin-left: remCalc($header-toggle-width * 1.5);
        margin-right: remCalc($header-toggle-width * 1.5);
    }

    @include breakpoint("medium") {
        height: auto;
        margin: (spacing("double") + spacing("base")) auto (spacing("double") + spacing("single"));
        padding: 0;

        .header.fixed & {
            background-color: color("greys", "lightest");
            margin: 0;
            padding: spacing("quarter") 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__link {
        @include clearfix;
        align-items: center;
        color: $storeName-color;
        display: flex;
        height: inherit;
        justify-content: center; // 6
        margin: 0 auto;
        position: relative;
        text-decoration: none;
        width: 70%;
        z-index: zIndex("low");

        @include breakpoint("medium") {
            background: none;
            border-bottom: 0;
            display: inline-flex;
            padding: 0;
            width: auto;
        }

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }
}

.header-logo--left {
    margin: 0;
    text-align: left;

    .header-logo-image {
        right: unset;
    }
}

.header-logo--right {
    margin: 0;
    text-align: right;

    .header-logo-image {
        left: unset;
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: $fontSize-logo-small;   // 1
    font-weight: stencilFontWeight("headings-font");
    letter-spacing: remCalc(2px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: $fontSize-logo-medium;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: $fontSize-logo-large;
        max-width: none;
        overflow: auto;
        padding: 0 10px;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image-container {
    position: relative;
    width: 100%;

    @include breakpoint("medium") {
        min-height: get-height(stencilString("logo_size"));
    }
}

.header-logo-image-container::after {
    content: "";
    display: block;
}

.header-logo-image {
    display: block;
    margin: 0 auto;
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

.header-logo-image-unknown-size { // 5
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: remCalc(-18);
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $header-font-color;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(27);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        &::before,
        &::after {
            background-color: $header-font-color;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}


//
// epic | Header Search
//
// -----------------------------------------------------------------------------
.has--epic-search {
    padding-top: 120px;

    @include breakpoint('medium') {
        padding-top: 0;
    }

    .skip-to-main-link {
        transform: translate(-50%, calc(-100% - 120px));
    }

    &.has--epic-sitewide {
      padding-top: 190px;

      @include breakpoint('medium') {
          padding-top: 0;
      }

      .skip-to-main-link {
          transform: translate(-50%, calc(-100% - 190px));
      }
    }

    &.has--header-sticky {
      padding-top: 0;
    }

    .header {
        height: auto;

        &.is-open {
            height: 100%;
        }

        &--epic-sitewide {
            .mobileMenu-toggle {
                position: relative;
            }
        }

        > .container {
            position: static;

            @include breakpoint('medium') {
                position: relative;
            }
        }
    }

    .mobileMenu-toggle {
        top: 0;
    }

    .navPages-container {
        &.is-open {
            padding-top: 120px;

            .navPages {
              height: calc(100vh - 155px);
            }
        }
    }
}

.header-search {
    flex-grow: 1;
    order: 3;
    width: 100%;
    z-index: 11;

    @include breakpoint('medium') {
        order: 0;
        width: auto;
    }

    .container {
        padding: 0;

        @include breakpoint('medium') {
            padding: 0 2rem;
        }
    }

    .form {
        margin: 0;

        &-field {
            margin: 0;
            position: relative;
        }

        &-input {
            background: stencilColor("epic-header-search-input-background-color");
            border-color: stencilColor("epic-header-search-input-border-color");
        }

        &-submit {
            align-items: center;
            color: stencilColor("epic-header-search-input-icon-color");
            display: flex;
            height: 3rem;
            justify-content: center;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 3rem;

            &:hover {
                color: stencilColor("navUser-color-hover");
            }

            .icon {
                @include square(20px);
                transition: all 0.15s ease;
            }
        }
    }

    .quickSearchResults {
        background: stencilColor("dropdown--quickSearch-backgroundColor");
        border: 1px solid stencilColor("epic-navpages-background-color");
        height: 75vh;
        margin: 0;
        overflow: auto;
        padding: 0.5rem 0.5rem 0;

        @include breakpoint('medium') {
            padding: 1.25rem 1.25rem 0;
            position: absolute;
            width: calc(100% - 4rem);
            z-index: 11;
        }

        .modal-close {
            background: darken(stencilColor("navPages-subMenu-separatorColor"), 05);
            font-size: 26px;
            height: 2rem;
            line-height: 2rem;
            right: 0;
            top: 0;
            width: 2rem;
        }

        .productGrid {
            margin: 0;

            .product {
                width: 50%;

                @include breakpoint('medium') {
                    width: 33.33%;
                }
            }
        }

        &:empty {
            background: none;
            border-color: transparent;
            height: 0;
            margin: 0;
            padding: 0;
        }
    }
}
