// ----------------------------
//     EPIC STYLING BEGINS
// ----------------------------
// Header
[data-content-region="epic_sitewide_message--global"] {
  background: stencilColor("epic-sitewide-message-background-color");
}

.navPages {
  &-wrap {
    background: stencilColor("epic-navpages-background-color");
  }

  &-container {
    @include breakpoint('medium') {
      flex-grow: 1;
    }

    &--left {
      .navPages {
        @include breakpoint('medium') {
          text-align: left;
        }
      }
    }

    &--center {
      .navPages {
        @include breakpoint('medium') {
          text-align: center;
        }
      }
    }

    &--right {
      .navPages {
        @include breakpoint('medium') {
          text-align: right;
        }
      }
    }

    &--split {
      .navPages {
        &-list {
          &:not(.navPages-list--user) {
            @include breakpoint('medium') {
              display: flex;
            }
          }

          + .navPages-list {
            @include breakpoint('medium') {
              border: none;
              margin: 0;
              padding: 0;
            }
          }

          &--pages {
            .navPage-subMenu {
              @include breakpoint('medium') {
                right: 0;
              }
            }
          }
        }

        &-item {
          &-page {
            @include breakpoint('medium') {
              flex-grow: 1;
              float: none;
              text-align: right;
            }

            ~ .navPages-item-page {
              @include breakpoint('medium') {
                flex-grow: 0;
              }
            }

            .navPage-subMenu {
              @include breakpoint('medium') {
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  &-item-page {
    @include breakpoint('medium') {
      position: relative;
    }

    .navPage-subMenu {
      @include breakpoint('medium') {
        min-width: remCalc(200);
      }

      &-item {
        @include breakpoint('medium') {
          padding: 0 !important;
          width: 100%;
        }

        .navPage-subMenu-action {
          @include breakpoint('medium') {
            border: none;
            margin: 0;
            padding: 0.5rem 0;
          }
        }
      }
    }
  }
}

// Sidebar
.sidebarBlock-epic {
  @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: left);
  display: none;

  @include breakpoint('medium') {
    display: block;
  }
}

.sidebarBlock-epic,
.page-sidebar .sidebarBlock {
  background-color: stencilColor("epic-sidebar-background-color");
  border: 1px solid stencilColor("epic-sidebar-border-color");
  border-radius: remCalc(5);
  padding-top: 0;
  position: relative;
  z-index: 11;

  .sidebarBlock {
    &-heading {
      background-color: stencilColor("epic-sidebar-subMenu-background-color");
      border-bottom: 1px solid stencilColor("epic-sidebar-border-color");
      display: block;
      font-weight: 700;
      letter-spacing: remCalc(0.25px);
      line-height: 1.2;
      margin-bottom: 0.78571rem;
      padding: 1rem 1.25rem;
      text-transform: uppercase;
    }
  }

  .facetedSearch-navList {
    padding: 1rem 1.25rem;
  }

  .navList {
    margin: 0 0 0.5rem;

    &-action {
      padding: 0.25rem 1.25rem;

      &.has-subMenu {
        display: flex;
        justify-content: space-between;
      }

      &-moreIcon {
        margin-top: 0.25rem;
      }

      &--checkbox {
        padding-left: 1.75rem;
      }
    }

    &-subMenu {
      background: stencilColor("epic-sidebar-subMenu-background-color");
      border: 1px solid darken(stencilColor("epic-sidebar-border-color"), 5);

      &-list {
        padding: 0.5rem;
      }

      &-action {
        .icon {
          margin-top: 0;
        }
      }
    }

    &-childList {
      background: stencilColor("epic-sidebar-subMenu-background-color");
      border: 1px solid darken(stencilColor("epic-sidebar-border-color"), 5);
      padding: 0.5rem;
    }
  }
}

.sidebar-region {
  @include grid-column(12, $float: left);

  @include breakpoint('medium') {
    @include grid-column(3, $float: left);
  }
}

.page-type {
  &_default {
    .sidebar-region {
      @if stencilString("epic-sidebar-position-home") != 'none' {
        @include grid-column(12, $float: stencilString("epic-sidebar-position-home"));
      } @else {
        @include grid-column(12, $float: left);
        display: none;
      }

      @include breakpoint('medium') {
        @if stencilString("epic-sidebar-position-home") != 'none' {
          @include grid-column(3, $float: stencilString("epic-sidebar-position-home"));
        } @else {
          @include grid-column(3, $float: left);
        }
      }
    }
  }

  &_category {
    .sidebar-region {
      @if stencilString("epic-sidebar-position-category") != 'none' {
        @include grid-column(12, $float: stencilString("epic-sidebar-position-category"));
      } @else {
        @include grid-column(12, $float: left);
        display: none;
      }

      @include breakpoint('medium') {
        @if stencilString("epic-sidebar-position-category") != 'none' {
          @include grid-column(3, $float: stencilString("epic-sidebar-position-category"));
        } @else {
          @include grid-column(3, $float: left);
        }
      }
    }
  }

  &_product {
    .sidebar-region {
      @if stencilString("epic-sidebar-position-product") != 'none' {
        @include grid-column(12, $float: stencilString("epic-sidebar-position-product"));
      } @else {
        @include grid-column(12, $float: left);
        display: none;
      }

      @include breakpoint('medium') {
        @if stencilString("epic-sidebar-position-product") != 'none' {
          @include grid-column(3, $float: stencilString("epic-sidebar-position-product"));
        } @else {
          @include grid-column(3, $float: left);
        }
      }
    }
  }

  &_blog,
  &_blog_post {
    .sidebar-region {
      @if stencilString("epic-sidebar-position-blog") != 'none' {
        @include grid-column(12, $float: stencilString("epic-sidebar-position-blog"));
      } @else {
        @include grid-column(12, $float: left);
        display: none;
      }

      @include breakpoint('medium') {
        @if stencilString("epic-sidebar-position-blog") != 'none' {
          @include grid-column(3, $float: stencilString("epic-sidebar-position-blog"));
        } @else {
          @include grid-column(3, $float: left);
        }
      }
    }
  }
}

// CATEGORY
.page-type_category {
  .top-description {
    max-width: 1400px;
    padding-right: 5%;
  }

  .subcategoryGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
  }

  .subcategoryGridSubcat {
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    margin: 0 remCalc(12) remCalc(12) 0;
    padding: remCalc(4) remCalc(11);

    a {
      text-decoration: none;
    }
  }

  .subcategoryListing {
    p {
      margin-bottom: 0.5rem;
    }
  }
}

.actionBar {
  margin-top: 0;
}

.page-section {
  &--full {
    padding: 0 0.75rem;
  }
}

// Product Card
.card {
  &-body {
    .card {
      &-text {
        color: stencilColor("epic-card-text-color");

        .price {
          font-size: remCalc(27);
          font-weight: 700;

          &-section {
            &.rrp-price--withoutTax {
              color: stencilColor("epic-card-msrp-color");

              .price {
                font-size: 1rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

.page-type_default {
  .page-heading {
    margin: 0.5rem 0 1rem;
    text-align: left;
  }
}

.page {
  &-heading {
    margin: 0 0 1rem;
  }

  &-sidebar {
    + .page-content {
      background: stencilColor("epic-sidebar-background-color");
      border-radius: remCalc(10);
      padding: 0 1.25rem;
    }
  }
}

// Product
.page-type_product {
  .socialLinks {
    &-share {
      text-align: center;

      @include breakpoint('medium') {
        text-align: left;
      }
    }
  }
}

// OTHER
.only {
  &-mobile {
    display: block !important;

    @include breakpoint('medium') {
      display: none !important;
    }
  }

  &-desktop {
    display: none !important;

    @include breakpoint('medium') {
      display: block !important;
    }
  }
}
