// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    margin-top: spacing("single"); // 1

    @include breakpoint("medium") {
        margin-top: spacing("single") + spacing("base"); // 1
    }
}


.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-region {
    @include grid-column(12);
    float: right;
    width: 100%;

    @include breakpoint("medium") {
        width: 75%;
    }
}

.page-content--centered {
    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
  @include grid-column(12, $float: stencilString("epic-sidebar-position-other"));
  position: relative;

  @if stencilString("epic-sidebar-position-other") == 'none' {
    @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: left);
    display: none;
  } @else {
    @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: stencilString("epic-sidebar-position-other"));
  }

  + .page-content {
      @if stencilString("epic-sidebar-position-other") == 'left' {
        @include grid-column(12, $float: right);
      } @else if stencilString("epic-sidebar-position-other") == 'right' {
        @include grid-column(12, $float: left);
      } @else {
        @include grid-column(12, $float: left);
      }
  }

  @include breakpoint("medium") {
      @include grid-column(3, $float: stencilString("epic-sidebar-position-other"));

      + .page-content {
          @if stencilString("epic-sidebar-position-other") == 'left' {
            @include grid-column(9, $float: right);
          } @else if stencilString("epic-sidebar-position-other") == 'right' {
            @include grid-column(9, $float: left);
          } @else {
            @include grid-column(12, $float: left);
          }
      }
  }
}

.page-type_category .page-sidebar {
    @include grid-column(12, $float: stencilString("epic-sidebar-position-category"));
    position: relative;

    @if stencilString("epic-sidebar-position-category") == 'none' {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: left);
      display: none;
    } @else {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: stencilString("epic-sidebar-position-category"));
    }

    + .page-content {
        @if stencilString("epic-sidebar-position-category") == 'left' {
          @include grid-column(12, $float: right);
        } @else if stencilString("epic-sidebar-position-category") == 'right' {
          @include grid-column(12, $float: left);
        } @else {
          @include grid-column(12, $float: left);
        }
    }

    @include breakpoint("medium") {
        @include grid-column(3, $float: stencilString("epic-sidebar-position-category"));

        + .page-content {
            @if stencilString("epic-sidebar-position-category") == 'left' {
              @include grid-column(9, $float: right);
            } @else if stencilString("epic-sidebar-position-category") == 'right' {
              @include grid-column(9, $float: left);
            } @else {
              @include grid-column(12, $float: left);
            }
        }
    }
}

.page-type_default .page-sidebar {
    @include grid-column(12, $float: stencilString("epic-sidebar-position-home"));
    position: relative;

    @if stencilString("epic-sidebar-position-home") == 'none' {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: left);
      display: none;
    } @else {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: stencilString("epic-sidebar-position-home"));
    }

    + .page-content {
        @if stencilString("epic-sidebar-position-home") == 'left' {
          @include grid-column(12, $float: right);
        } @else if stencilString("epic-sidebar-position-home") == 'right' {
          @include grid-column(12, $float: left);
        } @else {
          @include grid-column(12, $float: left);
        }
    }

    @include breakpoint("medium") {
        @include grid-column(3, $float: stencilString("epic-sidebar-position-home"));

        + .page-content {
            @if stencilString("epic-sidebar-position-home") == 'left' {
              @include grid-column(9, $float: right);
            } @else if stencilString("epic-sidebar-position-home") == 'right' {
              @include grid-column(9, $float: left);
            } @else {
              @include grid-column(12, $float: left);
            }
        }
    }
}

.page-type_product .page-sidebar {
    @include grid-column(12, $float: stencilString("epic-sidebar-position-product"));
    position: relative;

    @if stencilString("epic-sidebar-position-product") == 'none' {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: left);
      display: none;
    } @else {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: stencilString("epic-sidebar-position-product"));
    }

    + .page-content {
        @if stencilString("epic-sidebar-position-product") == 'left' {
          @include grid-column(12, $float: right);
        } @else if stencilString("epic-sidebar-position-product") == 'right' {
          @include grid-column(12, $float: left);
        } @else {
          @include grid-column(12, $float: left);
        }
    }

    @include breakpoint("medium") {
        @include grid-column(3, $float: stencilString("epic-sidebar-position-product"));

        + .page-content {
            @if stencilString("epic-sidebar-position-product") == 'left' {
              @include grid-column(9, $float: right);
            } @else if stencilString("epic-sidebar-position-product") == 'right' {
              @include grid-column(9, $float: left);
            } @else {
              @include grid-column(12, $float: left);
            }
        }
    }
}

.page-type_blog,
.page-type_blog_post {
  .page-sidebar {
    @include grid-column(12, $float: stencilString("epic-sidebar-position-blog"));
    position: relative;

    @if stencilString("epic-sidebar-position-blog") == 'none' {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: left);
      display: none;
    } @else {
      @include sidebarState($type: stencilString("epic-sidebar-type"), $direction: stencilString("epic-sidebar-position-blog"));
    }

    + .page-content {
        @if stencilString("epic-sidebar-position-blog") == 'left' {
          @include grid-column(12, $float: right);
        } @else if stencilString("epic-sidebar-position-blog") == 'right' {
          @include grid-column(12, $float: left);
        } @else {
          @include grid-column(12, $float: left);
        }
    }

    @include breakpoint("medium") {
        @include grid-column(3, $float: stencilString("epic-sidebar-position-blog"));

        + .page-content {
            @if stencilString("epic-sidebar-position-blog") == 'left' {
              @include grid-column(9, $float: right);
            } @else if stencilString("epic-sidebar-position-blog") == 'right' {
              @include grid-column(9, $float: left);
            } @else {
              @include grid-column(12, $float: left);
            }
        }
    }
  }
}

.page-bg {
    &-image {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
    }
}
